body{
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
}
header{
    background-image: url("../foto.jpg");
    background-size: cover;
    background-position: center;
    height: 15vh;
    width: 100%;
    text-align: center;
}
nav{
    display: flex;
    background-color: #A67BB;
    margin: 0px;
    padding: 0px;
}
nav a{
    display: block;
    color: #2c1e16;
    padding: 16px 18px;
    text-decoration: none;
    margin
}
nav a:hover{
    background-color: #0a0a0a;
    color: #ffffff;
}
main{
    margin-bottom: 50px;
    padding: 30px 60px;
    background-color: lightgray;
}
footer{
    text-align: center;
    padding: 20px;
    background-color: #999;
    position: fixed;
    bottom: 0;
    width: 100%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #555555;
  color: white;
}